**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
1 - x = "ahmed"
print(len(x))

In [ ]:
x= "ahmed"
count = 0
for i in x :
  counr +=1
  print(count)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
x= input ("Enter your string : ")
if (len (x)< 2):
  print (" empty string instead")
else :
  print (x[0:2] + x[-2:])

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
x = input ("enter your string ")
if (len(x) < 3):
  print(x)
elif (x[-3:] == "ing" ):
  print (x +"ly")
else :
  print (x + "ing")

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
words = input("enter a list of words (separated a space) ").split()
if (len(words) == 0):
  print("empty list")
else :
longest_word = max(words)
print("Longest word:", longest_word)
print("Length of the longest word:", len(longest_word))

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def swap_first_last(s):
    if len(s) < 2:
        return s
    return s[-1] + s[1:-1] + s[0]

input_str = "abca"
result = swap_first_last(input_str)
print("Result:", result)

Result: abca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
x = input("enter your string ")
result = x[::2]
print(result)

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:

sentence = "amr and ahmed are frindes but amr is the tallest"
words = sentence.split()
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print("Number of times 'amr' appeared:", word_count.get("amr", 0))

Number of times 'amr' appeared: 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
user_input = input ("Enter your favorite sport")
print(user_input.upper())
print(user_input.lower())

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_string (s):
  if (len (s) % 4 == 0):
    return s[::-1]
  else :
    return s

print (reverse_string ("abcd"))

print (reverse_string ("abcdef"))

print (reverse_string ("abcdefgh"))

dcba
abcdef
hgfedcba

**10- Write a Python program to remove a newline in Python

In [ ]:
 text ="hello, world!\n"

result = text.rstrip ()

print("original: " ,  repr(text))
print("after removing: " , repr(result))

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
  x = input ("enter your string ")
if (x.startswith ("hello")):
  print ("yes")
else :
  print ("no")

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def numbers () :
  numbers = [3.1250 , 0.3665 , 5.2885]
  for i in numbers :
    print (round (i , 2))
numbers()

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
def numbers () :
  numbers = [3.1250 , 0.3665 , 5.2885]
  for i in numbers :
    print (round (i , 2))
numbers()

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
  def num () :
  numbers = [3.1250 , -0.3665 , -5.2885]

  for i in numbers :
    print(f"{i :+.2f}")

num()

**15-Write a Python program to display a number with a comma separator

In [ ]:
def nmmberwith comma ():
  numbers = [1000 , 12520002 , 1252520 , 152000202]
  for i in numbers :
    print(f"{i:,}")

nmmberwith comma ()

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
 x = input ("enter your string ")
print (x[::-1])

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def count_repeated_character(text):
  char_count = {}

  for i in text :
    if i in char_count :
      char_count[i]+=1
    else :
      char_count[i ] = 1


  for i , count in   char_count.items():    # i is key and count is value in dic
    if count > 1 :
      print (f"'{i}' :){count}")     # print key and value in dic


text = "programing"
count_repeated_character(text)

'r' :)2
'g' :)2

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def non_repeating (text):
  char_count= {}

  for i in text :
    if i in char_count:
      char_count[i] +=1
    else :
      char_count[i] = 1
  for i in text :
    if char_count [i] == 1 :
      return i
  return None

text = "swiss"
non_repeating (text)

**19-Write a Python program to remove spaces from a given string

In [ ]:
x= ("hello  world instant ")
print(x.replace(" ",""))

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
 def non_empty_substrings(text):
  n = len(text)
  count =  n*(n+1)//2
  return count

text = "abc"
non_empty_substrings(text)

**21-write a Python program to swap first and last element of any list.

In [ ]:
 list = [1,2,3,4,5,6]
print (list)
list[0],list[-1]= list [ -1] , list[0]
print (list)

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
 def swapPositions(list, pos1, pos2):

    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

list = [23, 19,65,23,90]
pos1= 1
pos2 = 2
print(swapPositions(list, pos1-1, pos2-1))

**23- search for the all ways to know the length of the list

  TO get lenght of the list use : 1_ Using len()

2_ Using loop (Naive method)

3_ Using length_hint()

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
 list = [12 , 25 , 26 ,44]
print (max(list))

44

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
list = [12 , 25 , 26 ,44]
print (min(list))

12

**26-search for if an elem is existing in list

In [ ]:

my_list = [10, 20, 30, 40, 50]
search_item = 30

if search_item in my_list:
    print(f"{search_item} exists in the list ✅")
else:
    print(f"{search_item} does NOT exist in the list ❌")

30 exists in the list ✅

**27- clear python list using different ways

In [ ]:
 list = [12 , 25 , 26 ,44]
list.clear()
print (list)


list = [12 , 25 , 26 ,44]
del list [ : ]
print (list)

[]
[]

**28-remove duplicated elements from a list

In [ ]:
list = [12 ,12, 25,  25 , 26 ,44]
unique_list = set(list)
print (unique_list)

{25, 26, 12, 44}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
 test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
res = [dict(zip(key_list , test_list[i :i+2]) ) for i in range (0 , len(test_list),2)]

print (res)

**30-write a python program to count unique values inside a list using different ways

In [ ]:
a = ["a,b,c", "b,c,d", "e,f"]
unique = set (value for item in a for value in item.split(","))
count  = len (unique)
print (count)

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
freq = {}

for num in test_list:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1
result = [key for key, value in freq.items() if value > K]

print("Elements with frequency greater than", K, ":", result)

Elements with frequency greater than 3 : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
arr = [1, 2, 2, 3, 4, 5]
strongest = []
for i in range(len(arr) - 1):
    max_val = max(arr[i], arr[i + 1])
    strongest.append(max_val)

print("Strongest Neighbours:", strongest)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
  from itertools import permutations

a = [1, 2, 3]
for combo in permutations(a, 3):
    print(combo)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
  list_1 = ["a" , "b"]
list_2 = [1,2]
unique_combination = []
for i in range (len(list_1)):
  for j in range (len(list_2)):
    unique_combination.append((list_1[i] , list_2[j]))
print (unique_combination)

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
 list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element = 1
result = [x for x in list if x != element]
print(result)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list_1 = ["Gfg", "is", "best"]
list_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = []
for i in range (len(list_2)):
  result.append(list_1[list_2[i]])
print (result)

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
k = 5
n = 2
res = [i for i in test_list if i.count(k) == n]
print(res)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
 array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
 print (sorted(array, key = lambda x: x[0]))
 print (sorted(array, key = lambda x: x[1]))
 print (sorted(array, key = lambda x: x[2]))

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
info = {"ravi": 10, "rajnish": 9, "sanjeev": 15, "yash": 2, "suraj": 32}
print (sorted(info.items()))

[('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
test_dict = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
k = 7
filter_dect = {}
for key , value in test_dict.items():
    if not isinstance (value ,(int , float)) or value < k:
      filter_dect[key] = value

print (filter_dect)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

merge_dect = {}

for d in (dic1 , dic2 , dic3 ):
  merge_dect.update(d)
print(merge_dect)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {**dic1 , **dic2 , **dic3}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:

d = {"name": "amr", "age": "18", "jop": "software engin"}

for key, value in d.items():
    print(f"{key}: {value}")

name: amr
age: 18
jop: software engin

**44- Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d1.update(d2)
print(d1)

{'x': 1, 'y': 3, 'z': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(max(d1.values()))
print(min(d1.values()))

4
1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
Original_Dictionary ={'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dect = {key :value for key , value in Original_Dictionary.items() if value is not None}
print(new_dect)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
numbers = (10, 20, 30, 40, 50)
print(numbers[0])

10

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
my_tuple = (10, 20, 30)


a, b, c = my_tuple


print("a =", a)
print("b =", b)
print("c =", c)

a = 10
b = 20
c = 30

**49-Write a Python program to add an item to a tuple

In [ ]:
my_tuple = (10, 20, 30)
new = my_tuple + (40,)
print(new)

(10, 20, 30, 40)

**50-Write a Python program to convert a tuple to a string

In [ ]:
my_tuple = ('H', 'e', 'l', 'l', 'o')
result = ''.join(my_tuple)
print(result)

Hello

**51-Write a Python program to convert a list to a tuple

In [ ]:
a = [1 , 2 , 3 , 4 , 5]
b = tuple (a)
print (b)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [ ]:
a = [1 , 2 , 3 , 4 , 5]
rev = a[::-1]
print(rev)

[5, 4, 3, 2, 1]

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
tuples_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

new_value = 100

updated_list = [t[:-1] + (new_value,) for t in tuples_list]


print(updated_list)

[(1, 2, 100), (4, 5, 100), (7, 8, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:

original_string = "python 3.0"

result = tuple(original_string.replace(" ", ""))

print("Original string:", original_string, type(original_string))
print("Converted to tuple:", result)

Original string: python 3.0 <class 'str'>
Converted to tuple: ('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:

tuple_of_tuples = ((10, 20, 30), (40, 50, 60), (70, 80, 90))


total = 0
count = 0

for tup in tuple_of_tuples:
    for num in tup:
        total += num
        count += 1


average = total / count


print("Average:", average)

Average: 50.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
a = {'g', 'e', 'k'}
a.add('s')
print(a)

{'s', 'k', 'e', 'g'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
my_set = {'apple', 'banana', 'cherry'}
item_to_remove = 'banana'
my_set.discard(item_to_remove)
print(my_set)

{'apple', 'cherry'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
set1 = {1, 2, 3, 4, 5}
print(max(set1))
print(min(set1))

5
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:

numbers = [1, 3, 5, 7, 2, 8, 4, 6]

target = 10
pairs = []

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] + numbers[j] == target:
            pairs.append((numbers[i], numbers[j]))
print("Pairs with sum", target, ":", pairs)

Pairs with sum 10 : [(3, 7), (2, 8), (4, 6)]